<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmall.dao.SysAclMapper" >
  <resultMap id="BaseResultMap" type="com.mmall.module.SysAcl" >
    <constructor >
      <idArg column="acl_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="acl_module_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="seq" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="operator" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="operator_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="operator_ip" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    acl_id, code, name, acl_module_id, url, type, status, seq, remark, operator, operator_time, 
    operator_ip
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_acl
    where acl_id = #{aclId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_acl
    where acl_id = #{aclId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mmall.module.SysAcl" >
    insert into sys_acl (acl_id, code, name, 
      acl_module_id, url, type, 
      status, seq, remark, 
      operator, operator_time, operator_ip
      )
    values (#{aclId,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{aclModuleId,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{seq,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{operatorTime,jdbcType=TIMESTAMP}, #{operatorIp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.module.SysAcl" >
    insert into sys_acl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aclId != null" >
        acl_id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="aclModuleId != null" >
        acl_module_id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="seq != null" >
        seq,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="operatorTime != null" >
        operator_time,
      </if>
      <if test="operatorIp != null" >
        operator_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aclId != null" >
        #{aclId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="aclModuleId != null" >
        #{aclModuleId,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operatorTime != null" >
        #{operatorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorIp != null" >
        #{operatorIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.module.SysAcl" >
    update sys_acl
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="aclModuleId != null" >
        acl_module_id = #{aclModuleId,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="seq != null" >
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operatorTime != null" >
        operator_time = #{operatorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorIp != null" >
        operator_ip = #{operatorIp,jdbcType=VARCHAR},
      </if>
    </set>
    where acl_id = #{aclId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.module.SysAcl" >
    update sys_acl
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      acl_module_id = #{aclModuleId,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      seq = #{seq,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      operator_time = #{operatorTime,jdbcType=TIMESTAMP},
      operator_ip = #{operatorIp,jdbcType=VARCHAR}
    where acl_id = #{aclId,jdbcType=INTEGER}
  </update>

  <select id="getAll" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM sys_acl
  </select>

  <select id="countByAclModuleId" parameterType="int" resultType="int">
    SELECT count(1) FROM sys_acl WHERE acl_module_id = #{aclModuleId}
  </select>

  <select id="countByNameAndAclModuleId" parameterType="map" resultType="int">
    SELECT count(1) FROM sys_acl
    WHERE acl_module_id = #{aclModuleId}
    AND name = #{aclName}
    <if test="aclId != null">
      AND acl_id != #{aclId}
    </if>
  </select>

  <select id="countAcl" resultType="int">
    SELECT count(1) FROM sys_acl
  </select>

  <select id="getByAclModuleId" parameterType="integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM sys_acl
    WHERE acl_module_id = #{aclModuleId}
  </select>

  <select id="getAclByAclIdList" parameterType="list" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM sys_acl
    WHERE acl_id IN
    <foreach collection="aclIdList" item="aclId" index="index" open="(" close=")" separator=",">
      #{aclId}
    </foreach>
  </select>

  <select id="getByUrl" parameterType="string" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM sys_acl
    WHERE url = #{url}
  </select>
</mapper>